<div>
  <h1>New Product</h1>
</div>
<div>
  <p>ID:<input type="text" id="productID" /></p>
  <p>Title:<input type="text" id="productTitle" /></p>
  <p>Description:<input type="text" id="productDescription" /></p>
  <p>Code:<input type="text" id="productCode" /></p>
  <p>Price:<input type="text" id="productPrice" /></p>
  <p>Stock:<input type="text" id="productStock" /></p>
  <button type="submit" id="btn">Enviar</button>
</div>
<div>
  <h2>
    Product List
  </h2>
</div>
<div>
  <p id="infoProduct"></p>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>